pkgbase = dpp-bin
	pkgdesc = Lightweight and Scalable C++ Discord API Bot Library - binary version
	pkgver = 10.0.33
	pkgrel = 1
	url = https://dpp.dev/
	install = dpp-bin.install
	changelog = dpp-bin.changelog
	arch = x86_64
	license = Apache
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = zlib
	depends = opus
	depends = nlohmann-json
	source = https://raw.githubusercontent.com/Neko-Life-aur/dpp-bin-artifacts/main/dpp-10.0.33-1-x86_64.pkg.tar.zst
	validpgpkeys = 988B124407F072AACFA92D2F52B5096DD205E14A
	sha256sums = 1d302756ce4ad8f35130ef42f4eb8448059e6d03fd17ed99461d891fff467f6f

pkgname = dpp-bin
